<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />    
    <link href="~/Content/css/swiper.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/jquery.magnific-popup.js"></script>

    <script src="~/Scripts/js/popper.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/js/morphext.min.js"></script>
    <script src="~/Scripts/js/validator.min.js"></script>
    <script src="~/Scripts/js/swiper.min.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
    <script src="~/Scripts/js/jquery.easing.min.js"></script>
</body>
</html>
