@model kiwi.Models.Attraction
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="blog-post-single">
                <a href="#" class="image"> <img src="~/Content/images/Attraction/@Model.AttractionImage" class="img-responsive img-rounded"> </a> <div class="post-details">
                    <h3> <a href="https://demo.neontheme.com/frontend/blog-post/"> @Model.AttractionName </a> </h3> <div class="post-meta">
                        <div class="meta-info"> <i class="entypo-calendar"></i> </div> <div class="meta-info">
                            <i class="entypo-comment"></i>
                           
                        </div>
                    </div>
                </div> 
                <div class="post-content">  <span style=""> @Model.AttractionDescription </span>  </div> <br>
             </div>
        </div> 
        <!--<div class="col-sm-4">-->
            <!-- TS160326316415358: Xenon - Boostrap Admin Template created by Laborator / Please buy this theme and support the updates --> <!--<div class="sidebar">
                <h3>
                    <i class="entypo-list"></i>
                    Categories
                </h3> <div class="sidebar-content"> <ul> <li> <a href="#">Art Direction <span>(3)</span></a> </li> <li> <a href="#">Photography <span>(7)</span></a> </li> <li> <a href="#">3D Modelling <span>(5)</span></a> </li> <li> <a href="#">Web Design <span>(1)</span></a> </li> </ul> </div>
            </div> 
            <div class="sidebar">
                <h3>
                    <i class="entypo-chat"></i>
                    Recent Comments
                </h3> <div class="sidebar-content"> <ul class="discussion-list"> <li> <a href="#" class="thumb"> <img src="https://demo.neontheme.com/assets/frontend/images/user-icon-1.png" width="43" class="img-circle"> </a> <div class="details"> <a href="#">John Doe</a> <p>At vero eos et accusamus et iusto odio dignissimos...</p> </div> </li> <li> <a href="#" class="thumb"> <img src="https://demo.neontheme.com/assets/frontend/images/user-icon-1.png" width="43" class="img-circle"> </a> <div class="details"> <a href="#">John Doe</a> <p>At vero eos et accusamus et iusto odio dignissimos...</p> </div> </li> <li> <a href="#" class="thumb"> <img src="https://demo.neontheme.com/assets/frontend/images/user-icon-1.png" width="43" class="img-circle"> </a> <div class="details"> <a href="#">John Doe</a> <p>At vero eos et accusamus et iusto odio dignissimos...</p> </div> </li> </ul> </div>
            </div>-->
            <div>
        </div>
    </div>
</div>  

@*<div class="container">
    <div class="col-md-12">
        <div class="media-container-row">
            <div class="mbr-figure" style="width: 50%;">
                <img src="assets/images/daniel-apodaca-335330-2000x2664.jpg" alt="Mobirise" title="" media-simple="true">
            </div>
            <div class=" align-left">
                <h2 class="mbr-title pt-2 mbr-fonts-style display-2">
                    Image with content
                </h2>
                <div class="mbr-section-text">
                    <p class="mbr-text mb-5 pt-3 mbr-light mbr-fonts-style display-5">
                        Click any text or icon to edit or style it. Use the block parameters to hide/show text or icons and change media size or position.
                    </p>
                </div>

                <div class="block-content">
                    <div class="card p-3 pr-3">
                        <div class="media">
                            <div class=" align-self-center card-img pb-3">
                                <span class="mbri-extension mbr-iconfont" media-simple="true"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="card-title mbr-fonts-style display-7">
                                    Over 400 Amazing Blocks
                                </h4>
                            </div>
                        </div>

                        <div class="card-box">
                            <p class="block-text mbr-fonts-style display-7">
                                Mobirise offers several themes that include sliders, galleries, article blocks, counters, accordions, video, animated text, live filtered tables, shop, contact forms, lightbox, testimonials, timelines, google map, progress bars and more.
                            </p>
                        </div>
                    </div>

                    <div class="card p-3 pr-3">
                        <div class="media">
                            <div class="align-self-center card-img pb-3">
                                <span class="mbri-drag-n-drop2 mbr-iconfont" media-simple="true"></span>
                            </div>
                            <div class="media-body">
                                <h4 class="card-title mbr-fonts-style display-7">
                                    Easy and Simple to Use
                                </h4>
                            </div>
                        </div>

                        <div class="card-box">
                            <p class="block-text mbr-fonts-style display-7">
                                Cut down the development time with drag-and-drop website builder. Drop the blocks into the page, edit content inline and publish - no technical skills required.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
