@model List<kiwi.Models.Attraction>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attractions</h2>

<link href="~/Content/assets/css/neon-theme-edited.css" rel="stylesheet" />
<link href="~/Content/css/Custom.css" rel="stylesheet" />
<link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />



<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<div class="gallery-env">
    <div class="row">
        @foreach (var item in Model)
        {
            <div id="popupid" class="col-sm-4 grow">
                <article class="album">
                    <header>
                        <a href="#"> <img src="https://demo.neontheme.com/assets/images/album-thumb-1.jpg"> </a> <a href="#" class="album-options">
                            <i class="entypo-cog"></i>
                            Change Cover
                        </a>
                    </header> <section class="album-info"> <h3><a href="https://demo.neontheme.com/extra/gallery-single/">@item.AttractionName</a></h3> <p>Can curiosity may end shameless explained. True high on said mr on come. </p> </section> <footer>
                        <div class="album-images-count">
                            <i class="entypo-picture"></i>
                            @item.AttractionId
                        </div> <div class="album-options"> <a href="#"> <i class="entypo-cog"></i> </a> <a href="#"> <i class="entypo-trash"></i> </a> </div>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>
<script>
    /// Create Payment MOde Popup Button
    $('body').on('click', '#popupid', function () {
        $('#modalid').modal({
            show: true
        });
    });
</script>

<div class="modal fade custom-width in" id="album-cover-options" style="display: block;">
    <div class="modal-dialog" style="width: 65%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
                <h4 class="modal-title">Edit: <strong>Album Title</strong></h4> 
            </div> 
            <div class="modal-body"> <div class="row"> <div class="col-sm-6"> 
                <div class="row"> <div class="col-md-12"> 
                    <h4 class="margin-top-none">Crop Image</h4> 
                    <div class="croppable-image"> <img src="https://demo.neontheme.com/assets/images/sample-crop.jpg" class="img-responsive" style="display: none; visibility: hidden; width: 1000px; height: 647px;">
                    <div class="jcrop-holder" style="width: 409.583px; height: 265px; position: relative; background-color: black;">
                        <div style="position: absolute; z-index: 600; width: 266px; height: 225px; top: 20px; left: 61px;">
                        <div style="width: 100%; height: 100%; z-index: 310; position: absolute; overflow: hidden;">
                            <img src="https://demo.neontheme.com/assets/images/sample-crop.jpg" style="border: none; visibility: visible; margin: 0px; padding: 0px; position: absolute; top: -20px; left: -61px; width: 409.583px; height: 265px;"><div class="jcrop-hline" style="position: absolute; opacity: 0.4;"></div><div class="jcrop-hline bottom" style="position: absolute; opacity: 0.4;"></div><div class="jcrop-vline right" style="position: absolute; opacity: 0.4;"></div><div class="jcrop-vline" style="position: absolute; opacity: 0.4;"></div><div class="jcrop-tracker" style="cursor: move; position: absolute; z-index: 360;"></div></div><div style="width: 100%; height: 100%; z-index: 320; display: block;"><div class="ord-n jcrop-dragbar" style="cursor: n-resize; position: absolute; z-index: 370;"></div><div class="ord-s jcrop-dragbar" style="cursor: s-resize; position: absolute; z-index: 371;"></div><div class="ord-e jcrop-dragbar" style="cursor: e-resize; position: absolute; z-index: 372;"></div><div class="ord-w jcrop-dragbar" style="cursor: w-resize; position: absolute; z-index: 373;"></div><div class="ord-n jcrop-handle" style="cursor: n-resize; position: absolute; z-index: 374; opacity: 0.5;"></div><div class="ord-s jcrop-handle" style="cursor: s-resize; position: absolute; z-index: 375; opacity: 0.5;"></div><div class="ord-e jcrop-handle" style="cursor: e-resize; position: absolute; z-index: 376; opacity: 0.5;"></div><div class="ord-w jcrop-handle" style="cursor: w-resize; position: absolute; z-index: 377; opacity: 0.5;"></div><div class="ord-nw jcrop-handle" style="cursor: nw-resize; position: absolute; z-index: 378; opacity: 0.5;"></div><div class="ord-ne jcrop-handle" style="cursor: ne-resize; position: absolute; z-index: 379; opacity: 0.5;"></div><div class="ord-se jcrop-handle" style="cursor: se-resize; position: absolute; z-index: 380; opacity: 0.5;"></div><div class="ord-sw jcrop-handle" style="cursor: sw-resize; position: absolute; z-index: 381; opacity: 0.5;"></div></div></div><div class="jcrop-tracker" style="width: 413.583px; height: 269px; position: absolute; top: -2px; left: -2px; z-index: 290; cursor: crosshair;"></div><input type="radio" class="jcrop-keymgr" style="position: fixed; left: -120px; width: 12px;"><img src="https://demo.neontheme.com/assets/images/sample-crop.jpg" class="img-responsive" style="display: block; visibility: visible; width: 409.583px; height: 265px; border: none; margin: 0px; padding: 0px; position: absolute; top: 0px; left: 0px; opacity: 0.6;"></div> </div> </div> </div> </div> <div class="col-sm-6"> <div class="row"> <div class="col-md-12"> <div class="form-group"> <label for="field-1" class="control-label">Title</label> <input type="text" class="form-control" id="field-1" placeholder="Enter album title"> </div> </div> </div> <div class="row"> <div class="col-md-12"> <div class="form-group"> <label for="field-1" class="control-label">Tags</label> <input type="text" class="form-control" id="field-3" placeholder="Tags"> </div> </div> </div> <div class="row"> <div class="col-md-12"> <div class="form-group"> <label for="field-1" class="control-label">Description</label> <textarea class="form-control autogrow" id="field-2" placeholder="Enter album description" style="min-height: 120px; overflow: hidden; overflow-wrap: break-word; resize: horizontal; height: 120px;"></textarea> </div> </div> </div> </div> </div> </div> <div class="modal-footer">
                <button type="button" class="btn btn-success btn-icon">
                    <i class="entypo-check"></i>
                    Apply Changes
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Launch static backdrop modal
</button>*@

<!-- Modal -->
<div class="modal fade" id="modalid" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>
