
@{
    ViewBag.Title = "CreateJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateJob</h2>


<div class="job-box bg-white mt-4">
    <div class="p-4">
        <div class="row align-items-center">
            <div class="col-md-2">
                <div class="mo-mb-2">
                    <img src="images/featured-job/img-1.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <h5 class="f-18"><a href="#" class="text-dark">Web Developer</a></h5>
                    <p class="text-muted mb-0">Web Technology pvt.Ltd</p>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker text-custom mr-2"></i>Oakridge Lane Richardson</p>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <p class="text-muted mb-0 mo-mb-2"><span class="text-custom">$</span>1000-1200/m</p>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <p class="text-muted mb-0">Full Time</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-3 bg-light">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Experience :</span> 1 - 2 years</p>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <p class="text-muted mb-0 mo-mb-2"><span class="text-dark">Notes :</span> languages only differ in their grammar. </p>
                </div>
            </div>
            <div class="col-md-2">
                <div>
                    <a href="#" class="text-custom">Apply Now <i class="mdi mdi-chevron-double-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
